body {
    margin: 0px;
    padding: 0px;
}
textarea {
    color: #000 !important;
    font-size: 35px !important;
    width: 100%;
    margin: 0;
}

.mainrow {
    margin-bottom: 12px;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}

#row1 {
    height: 30%;
}
#row2 {
    height: 40%;
}
#row3 {
    height: 25%;
}

.point{
	width:21px;
    margin-left: 34px;
    margin-right: 34px;
	height:21px;
	border-radius:50%;
	background:gray;
    float:left;
}



#tallyIndicator {
    width: 100%;
    /*padding-bottom: 10px;*/
}

#statusIndicator {
    width: 100%;
    /*padding-top: 20px;*/
}


.btn-left {
    float: none;
}

div {
    border-style: solid;
    border-color: white;
    border-width: 0px;}

#countdown {
	font-size: 150px;
    color: #D4D5D6;
}

#dir_countdown {
    /*font-size: 150px;*/
    color: #D4D5D6;
    width: 80%;
    min-width: 430px;
    /*height: 100%;*/
    text-align: center;
    margin-top: 10px;
     margin-left: 10%;
      margin-right: 10%;
    border: 2px solid #ff8f00;
    box-shadow: 0px 0px 5px #ff8f00;
  border-radius: 30px;
    background-color: #0000;
}
#vt_countdown {
    /*font-size: 150px;*/
    color: #D4D5D6;
    width: 80%;
    min-width: 430px;
    /*height: 100%;*/
    text-align: center;
    margin-top: 20px;
         margin-left: 10%;
      margin-right: 10%;
    border: 2px solid #ff8f00;
    box-shadow: 0px 0px 5px #ff8f00;
  border-radius: 30px;
    background-color: #0000;

}
#dir_countdown_time {
    font-size: 120px;
    color: rgb(50, 150, 255);
}

#dir_countdown_title{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-style: normal;
}

#vt_countdown_time {
    font-size: 120px;
}

#vt_countdown_title{
    padding-top: 20px;
    font-size: 30px;
    font-family: 'Comfortaa';
    font-weight: 300;
    font-style: normal;
}
#livestatus{
    font-family: 'Comfortaa';
    font-weight: bold;
    font-style: normal;
}

div#countdown-items {
    margin-top: 15px;
    border: 1px solid #000;
    box-shadow: 0px 0px 5px #ff8f00;
  border-radius: 30px;
  overflow: hidden;
}

div#countdown-items.btn-group button {
text-align: center;
  vertical-align: center;
    font-family: 'Comfortaa';
    font-weight: bold;
    font-style: normal;
    cursor: crosshair;
}
@media (min-width: 600px) {

    #dir_countdown_time{
    font-size: 120px;
   }
   #vt_countdown_time{
    font-size: 120px;
   }

/*div#countdown-items.btn-group button {

    padding-left: 2px;
        padding-right: 2px;
    }*/
#livestatus {
    font-size: 80px;

}
}

@media (max-width: 768px) {

    #dir_countdown_time{
    font-size: 100px;
   }
   #vt_countdown_time{
    font-size: 100px;
   }
      #dir_countdown_title{
        /*padding-top: 10px;*/
    font-size: 20px;
   }
   #vt_countdown_title{
    font-size: 20px;
   }
   div#countdown-items.btn-group button {

    padding-left: 2px;
        padding-right: 2px;
    }
    #dir_countdown {
    width: 90%;
    margin-left: 5%;
      margin-right: 5%;
}
    #vt_countdown {
    width: 90%;
    margin-left: 5%;
      margin-right: 5%;
}

#livestatus {
    font-size: 80px;
}
}

@media (min-width: 1100px) {
    #dir_countdown_time{
    font-size: 200px;
   }
   #vt_countdown_time{
    font-size: 200px;
   }
      #dir_countdown_title{
    font-size: 30px;
   }
   #vt_countdown_title{
    font-size: 30px;
   }
#livestatus {
    font-size: 200px;
}
}

@media (min-width: 1270px) {
 #dir_countdown_title{
    font-size: 37px;
   }
   #vt_countdown_title{
    font-size: 37px;
   }
}


@media (min-width: 1800px) {
    #dir_countdown_time{
    font-size: 280px;
   }
   #vt_countdown_time{
    font-size: 280px;
   }
   #dir_countdown_title{
    font-size: 50px;
   }
   #vt_countdown_title{
    font-size: 50px;
   }
    #livestatus {
    font-size: 130px;
}
}



/*@media (min-width: 1800px) {
    #dir_countdown_time{
    font-size: 400px;
   }
   #vt_countdown_time{
    font-size: 400px;
   }
    #livestatus {
    font-size: 130px;
                }
   }*/
@media only screen and (max-width: 567px) {
    div.footer-container .btn-group {
        padding-left: 6px;
    }
    div.footer-container .btn-group button {
        width: 42px;
        height: 42px;
        font-size: 14px;
        margin-bottom: 3px;
        margin-right: 6px;
    }
}

div.footer-container {
    width: 100%;
    height: 10px;
    z-index: 20;
    bottom: 0px;
    overflow: visible;
    position: absolute;
}
div.footer-container .btn-group {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 8px;
    right: 0;
}
div.footer-container .btn-group button {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 28px;
    border-radius: 50% !important ;
    margin-bottom: 3px;
    margin-right: 6px;
    outline: 0 !important;
    color: #ff8f00;
    border: solid 2px #D4D5D6;
    background-color: rgba(0, 0, 0, 0);
}
div.footer-container .btn-group button.highlighted {
    color: #2a001b;
    background-color: #D4D5D6;
}


